body,html  {
background: #F4F4F4;
margin: 0;
    
}

.tlb
{
    background-color:transparent;
    font-size:14px;
    font-family:"Arial Narrow", "Myriad Pro";
    color: #c5d6db;
}

.tlb:hover
{
    color: #ecf2f3;
    font-size:large;
}

#container { 
background: #FFFFFF;
    width:1210px; 
    margin:0 auto;
    height: 676px;
}

#header {    height: 161px;
    width: 1212px;
    margin-bottom: 0px;
    
} 

#header a {
color: #121212;
text-decoration: none;
font-size: small; 
font-family: "Myriad Pro", "Arial Narrow";
}

#menu {
background-color: #486989; 
padding: 6px 0 6px 40px;
    height: 665px;
    width: 125px;
}

#menu a {
color: #c5d6db;
text-decoration: none; 
font-size: 14px; 
font-family: "Arial Narrow", "Myriad Pro";
}

#menu a:hover {
color: #ecf2f3;
font-size:large;
}

#rm {
    background-color: #486989; 
    padding: 6px 0 6px 40px;
    height: 660px;
    width: 125px;
    float: right;
          
}

#rm a {
color: #c5d6db;
text-decoration: none; 
font-size: 14px; 
font-family: "Arial Narrow", "Myriad Pro";
}

#rm a:hover 
{
color: #ecf2f3;
font-size:large;
}

#choicesbk 
{
  position: absolute;
  width: 862px;
  height: 570px;
  top: 5%;
  left: 20%;
  margin: -100px 0 0 -150px;
  border-color: lightblue;
  border-style: solid;
  border-width: 2px;
}

.labelhstyle {
color: #3b7687;
font-size: small; 
border-top-right-radius: 1em;
border-top-left-radius: 1em;
}

.selected {
    color: #3b7687;
    font-size: large; 
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

#sidebar {
float: left;
width: 128px; 
padding: 30px 0 0 40px;
margin: 0;
    height: 251px;
}

h1 {
margin: 0px;
font-size:24px; 
font-family: "Arial Narrow", "Myriad Pro"; 
font-weight: normal;
}

p 
{
    font-family: 'Times New Roman', Times, serif; 
    font-size: large;
    width: 917px;
}    

h2 {
color: #3b7687;
font-size: 20px; 
margin: 20px 0 5px 0;
    width: 408px;
}

#main { 
    position:relative;
    bottom:519px;
    left:138px;
    height: 645px;
    margin-top: 0px;
    width: 921px;
    margin-left: 0px;
} 

#main a {
color: #3b7687; 
text-decoration: none;
}

#main a:hover {
color: #444444;
}

#footer {
padding: 6px 40px 6px 40px;
background: #d6d6d6; 
font-family: "Lucida Sans Unicode";
color: #444444;
font-size: 11px;
text-align: right;
}

#footer a {
text-decoration: none; 
color: #262626;
}

#footer a:hover {
color: #666666;
}

.separator {
font-size:11px;
color:#FFFFFF;
}